<img src="{{ pathToSiteRoot }}assets/images/union-jack.gif"><nav class="sidebar">
<ul><li><a {% if pageId=='id_index.html' %}class='active' {% endif %}href='{{ pathToSiteRoot }}index.html'>Home</a></li>
 
<li><a {% if pageId=='id_about.html' %}class='active' {% endif %}href='{{ pathToSiteRoot }}about.html'>About</a></li>
 
<li><a {% if pageId=='id_agility.html' %}class='active' {% endif %}href='{{ pathToSiteRoot }}agility.html'>Agility</a></li>
 
<li><a {% if pageId=='id_contact.html' %}class='active' {% endif %}href='{{ pathToSiteRoot }}contact.html'>Contact</a></li>
 
<li><a {% if pageId=='id_faq.html' %}class='active' {% endif %}href='{{ pathToSiteRoot }}faq.html'>Faq</a></li>
 
<details>
  				<summary>gallery/</summary>
				  <div class='indented-content'><li><a {% if pageId=='id_gallery/daisy.html' %}class='active' {% endif %}href='{{ pathToSiteRoot }}gallery/daisy.html'>Daisy</a></li>
 
<li><a {% if pageId=='id_gallery/douglas.html' %}class='active' {% endif %}href='{{ pathToSiteRoot }}gallery/douglas.html'>Douglas</a></li>
 
<li><a {% if pageId=='id_gallery/poppy.html' %}class='active' {% endif %}href='{{ pathToSiteRoot }}gallery/poppy.html'>Poppy</a></li>
 
<li><a {% if pageId=='id_gallery/puppies.html' %}class='active' {% endif %}href='{{ pathToSiteRoot }}gallery/puppies.html'>Puppies</a></li>
 
<li><a {% if pageId=='id_gallery/ziggy.html' %}class='active' {% endif %}href='{{ pathToSiteRoot }}gallery/ziggy.html'>Ziggy</a></li>
 
</div> </details> 
<li><a {% if pageId=='id_grooming.html' %}class='active' {% endif %}href='{{ pathToSiteRoot }}grooming.html'>Grooming</a></li>
 
<li><a {% if pageId=='id_history.html' %}class='active' {% endif %}href='{{ pathToSiteRoot }}history.html'>History</a></li>
 
<li><a {% if pageId=='id_links.html' %}class='active' {% endif %}href='{{ pathToSiteRoot }}links.html'>Links</a></li>
 
<li><a {% if pageId=='id_origin.html' %}class='active' {% endif %}href='{{ pathToSiteRoot }}origin.html'>Origin</a></li>
 
<li><a {% if pageId=='id_puppy-care.html' %}class='active' {% endif %}href='{{ pathToSiteRoot }}puppy-care.html'>Puppy-care</a></li>
 
<li><a {% if pageId=='id_standard.html' %}class='active' {% endif %}href='{{ pathToSiteRoot }}standard.html'>Standard</a></li>
 
 
<li><a {% if pageId=='id_testimonial.html' %}class='active' {% endif %}href='{{ pathToSiteRoot }}testimonial.html'>Testimonial</a></li>
 
</ul></nav>